@import "css/header.css";
@import "css/banner.css";
@import "css/order.css";
@import "css/footer.css";
:root {
  --primary-grey: #39393b;
  --primary-grey-light: #4f4f51;
  --primary-beige: #b68867;
  --primary-beige-light: #c5a085;
  --primary-beige-dark: #b6886733;

  --background-black: #000;
  --background-dark-grey: #121214;
  --background-grey: #1e1e20;

  --text-color-white: #e9e9e9;
  --text-color-grey: #919192;
}

body {
  background-color: var(--background-dark-grey);
  color: var(--text-color-white);
  font-family: sans-serif;
  margin: 0;
}

a {
  color: var(--text-color-white);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
